//Font-size
$fz-botones:0,81rem;
$fz-boton-50:1rem;
//Colores
$color-text-li:#9c9c9c;
$color-h1:#292c34;
$link-active:#65bbee;
$color-p:#888888;
$verde:#7bb84f;
$rosado:#e02d74;
$amarillo:#f5ba1c;
$celeste-boton:#40aceb;
$blanco:#ffffff;
$bk-our-gallery:#292c34;
$bk-azul:#0071bd;
$bk-celeste:#76b3dd;
$bk-gris:#333c4d;
$bk-celeste-claro:#a4d3f3;

