.content-3 {
    background-color: #ffffff;
    padding-bottom: 12%;
    margin-bottom: 4%; }
  
  .content-3-info h1 {
    color: #292c34;
    text-align: center;
    margin-bottom: 6%; }
  
  .content-3-info p {
    color: #888888;
    line-height: 2rem;
    text-align: center;
    margin-bottom: 7%; }
  
  .content-3-info h5 {
    color: #ffffff;
    margin: 0px;
    line-height: 1px;
    margin-bottom: 2,17%; }

  
    .img-mock-up {
      width:50%;
      display:block;
      float: left; }
    
  .texto-1 {
    width: 30%;
    color: #ffffff;
    font-size: $quinceRem;
    float: right;
    text-align: left;
    background-color: #0071bd;
    padding: 11% 10% 12% 10.2%;
    margin-top:-34%;
  }

  .texto-2 {
    width: 30%;
    color: #ffffff;
    font-size:$quinceRem;
    float: left;
    text-align: right;
    background-color: #a4d3f3;
    margin-top: -20.58%;
    margin-bottom: -0.25; 
    padding: 11% 10.2% 11% 10%;
  }
  
  .img-planta {
    width: 50%;
    float: right;
    display:block;
    margin-top: -201px; }
  
  .img-revista {
    width: 50%;
    display:block;
    margin-top: -33.8%; }
  
  .texto-3 {
    width: 30%;
    color: #ffffff;
    font-size: $quinceRem;
    line-height: 1.19rem;
    float: right;
    text-align: left;
    background-color: #333c4d;
    margin-top: -35%;
    margin-bottom:-4%;
    padding: 11% 10% 11% 10.2%;
  }
  
  .texto-4 {
    width: 30%;
    color: #ffffff;
    font-size: 0.94rem;
    line-height:1.19rem;
    float: left;
    text-align: right;
    background-color: #76b3dd;
    margin-top: -135.7px;
    margin-bottom: 6%; 
    padding: 11% 10.2% 11% 10%;
  }
  
  .img-hojas {
    width:50%;
    display:block;
    float: right;
    margin-top: -40%;}
  
  .link-3 {
    color: #ffffff;
    text-decoration: none;
    font-size: 0.81rem;
    font-weight: normal;
    margin-left:235px;
    border: 1px solid #40aceb;
    border-radius: 2px;
    background-color: #40aceb;
    padding: 13px 27px;
    text-transform: uppercase;} 