.content-5{
    background-color: $blanco;
    margin-bottom: 5%;
    padding-bottom: 11.33%;
    
}
.content-5-info{
    h1{
        color: $color-h1;
        text-align: center;
        padding-top:11.17%;
        margin-bottom:5%;
    }
    p{
        color:$color-p;
        text-align: center;
        line-height:1.5rem;
        margin-bottom:9%;
    }
}
.link-5{
    color: $blanco;
    text-decoration: none;
    font-size:$fz-boton-50;
    font-weight:bold;
    margin:0 30.5%;
    border: 1px solid $rosado;
    border-radius:3px;
    background-color: $rosado;
    padding:3.67% 4%;
    text-transform: uppercase;
}