.footer{
    margin: 0;
}
.footer-text{
    p{
        font-size: 13px;
        color: $color-p;
        float: left;
        margin-right: 190px;
    }
    a{
        font-size: 13px;
        color: $color-p;
    }
}
.footer-iconos{
    width: 115px;
    float: right;
    margin-top: -30px;
}