.footer{
    margin: 0;
}
.footer-text{
    p{
        font-size:0.81rem;
        color: $color-p;
        float: left;
        margin-right: 190px;
    }
    a{
        font-size:0.94rem;
        color: $color-p;
    }
}
.footer-iconos{
    width:19.17%;
    float: right;
    margin-top: -5%;
}