.nav{
    float: right;;
    width:2,62%;
    margin:4% 0 1,16% 0;
}
.titulo{
    color:$color-psd;
    font-size: $fz-boton-50;
    font-weight: bold;
    float: left;
    margin:33px 250px 7px 0px;
}
.nav-ul{
    list-style:none;
    margin:29px 0 0 0;
    li{
        float:left;
    }
    li + li{
        margin-left:23px;
    }
}
.nav-ul  a{
    font-size:fz-boton-50;
    color:$color-text-li;
    text-decoration:none;
    
}